.navbar{
    background-color: rgb(255, 253, 253);
    height: 8rem;

}

.nav-link{
    font-weight: 500;
    font-size: 1.2rem;
}

.nav-link:hover{
    border-bottom: 2px solid #000000;
}
/* .navbar-expand-lg .navbar-collapse {
    width: 100%;
} */
.navbar-brand {
    max-width: 8rem;
  }


.navbar-collapse{
    background-color: rgba(255, 255, 255, 0.904);
    border-radius: 5px;
}


